<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <a class="boton inactive underlineHover" routerLink="../login">Sign in</a>
      <h2 class="active"> Sign up </h2>
      
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      </div>
  
      <!-- Register Form -->
      <form>
        <br>
        <span class="fadeIn second">Ingrese el nombre de usuario</span> 
        <input type="text" id="login" class="fadeIn second" name="nombre_usuario" placeholder="Nombre usuario">
        <br>
        <span class="fadeIn third">Ingrese la contraseña</span>
        <input type="text" id="password" class="fadeIn third" name="contrasenia_usuario" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Crear">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="../login">¿Ya tienes un usuario? Loguéate</a>
      </div>
  
    </div>
  </div>
