<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> ¿Quien Soy? </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/cecy.jpeg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      
      <form>
        <p>Soy Cecilia Ybarrola, estudiante de la UTN. <br>
          DNI: 43407010<br>
          Legajo: 110201
        </p>
        <a routerLink="../home" class="fadeIn fourth" >Volver a home</a>
      </form>
  
    </div>
  </div>