<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="cards">
            <div class="card fadeIn first" style="align-items: center;">
              <img src="../assets/preguntados.png" id="icon" alt="User Icon" />
          </div>
          <div class="card fadeIn second" style="align-items: center;">
              <img src="../assets/ahorcado.jpeg" id="icon" alt="User Icon" />
          </div>
          <div class="card fadeIn third" style="align-items: center;">
              <img src="../assets/mayor_menor.webp" id="icon" alt="User Icon" />
              
          </div>
      </div>
  </div>
</div>
